extends ./layout.jade
body
	div#home
	div.column
		div.cell
	  		include ./chat.jade
		div.cell
	  		include ./chat.jade
	div.column
		div.cell
	  		include ./chat.jade
		div.cell
	  		include ./chat.jade
